<div class="jumbotron text-center">
<h1> Mean Authentication App</h1>
<p class="lead">Welcome to our custom MEAN authentication application.</p>
<div><a class="btn btn-primary" [routerLink]="['/register']">Register</a>
  <a class="btn btn-primary" [routerLink]="['/Login']">Login</a>
</div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>A rock solid node.js/express server using moongoose to organise models.</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
      <p>Angular-cli to generate components,services and more.</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
      <p>Full feeatured authentication using JSON web tokes.</p>
  </div>
</div>