<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">Mean Auth App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" *ngIf="authService.loggedIn()" [routerLink]="['/Dashboard']">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="authService.loggedIn()" [routerLink]="['/Profile']">Profile</a>
          </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!authService.loggedIn()" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!authService.loggedIn()" [routerLink]="['/register']">Register</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" *ngIf="authService.loggedIn()" (click)="onLogoutClick()" href="#">Logout</a>
        </li>
    </ul>
  </div>
</nav>